.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
err
install-sh
kni/.deps/
kni/.dirstamp
kni/.libs/
kni/cli.lo
kni/cli.o
kni/cscope.out
kni/device.lo
kni/device.o
kni/kni.lo
kni/kni.o
kni/node.lo
kni/node.o
kni/node_sp.lo
kni/node_sp.o
kni/tags
libkni.la
libtool
ltmain.sh
missing

